{% extends 'base.html.twig' %}

{% block title %}Guess the number!
{% endblock %}

{% block body %}
	<style>
		.wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.option-button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
		}
	</style>

	<div class="wrapper">
		<h1>Guess the number</h1>

        (<strong>{{ lower }}</strong> to <strong>{{ upper }}</strong>)

		<h3>
			<i>Computer:</i>
			{{ message }} {{ current_guess }}</h3>

		Choose one option:
		<br><br>
		<a href="{{ path('guess_the_number', {feedback: "prea-mare"}) }}" class="option-button">PREA MARE</a>
		<a href="{{ path('guess_the_number', {feedback: "prea-mic"}) }}" class="option-button">PREA MIC</a>
		<a href="{{ path('guess_the_number', {feedback: "exact"}) }}" class="option-button">EXACT</a>
        <br><br>
        <a href="{{ path('guess_the_number') }}" class="option-button">RESET</a>
	</div>
{% endblock %}
